<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyworthdigital.voice.baidu_module" >
    <application>


        <activity
            android:name=".fm.SkyAudioPlayActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.skyworthdigital.voiceassistant.fmplay" />
            </intent-filter>
        </activity>

        <activity
            android:name=".videosearch.SkyVoiceSearchAcitivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.skyworthdigital.voiceassistant.voicesearch" />
            </intent-filter>
        </activity>
    </application>
</manifest>
